# Ignore virtual environments
venv/
.env
.venv/
localize_agent/.env
localize_agent/src/localize_agent/.env
LocalizeAgentEnv/

# Ignore AWS credentials and test files
test_*.py

# Ignore log files
*.log
*.md

# Ignore build output
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db
__pycache__/

tmpclaude*